/* @font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Bold.eot');
    src: url('../Fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Black.eot');
    src: url('../Fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Black.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-BlackItalic.eot');
    src: url('../Fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-BoldItalic.eot');
    src: url('../Fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Italic.eot');
    src: url('../Fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Italic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Light.eot');
    src: url('../Fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Light.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-LightItalic.eot');
    src: url('../Fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Medium.eot');
    src: url('../Fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-MediumItalic.eot');
    src: url('../Fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Regular.eot');
    src: url('../Fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Thin.eot');
    src: url('../Fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-Thin.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-ThinItalic.eot');
    src: url('../Fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../Fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
        url('../Fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
} */


.container-fluid {
    width: 1145px;
    margin: 0 auto;
}

/* Log in section styles */
.login-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    flex-direction: column;
}

.login__subtitle {
    cursor: default;
    display: inline-block;
    font-size: 45px;
    line-height: 3.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    color: #313073;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.login__info > p {
    cursor: default;
    display: inline-block;
    color: #2691A8;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.8rem;
    font-weight: 500;
}

.login__title {
    cursor: default;
    font-size: 3rem;
    text-transform: uppercase;
    color: #00747B;
    letter-spacing: 2px;
    margin-bottom: 0.52rem;
}

.login__cont {
    display: flex;  
    justify-content: left;
    width: 500px;
    background-color: #E5E5E5;
    padding: 2rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 15px 0.1px;
}

.login__cont-title {
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 0.5rem 2px;
    text-transform: uppercase;
    color: rgb(22, 22, 87);
}

.login {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: 'Roboto';
    border-radius: 10px;
    border: none;
}

.login:focus {
    outline: none;
}

.login__btn {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    background-color: rgb(24, 24, 100);
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}

.login__btn:hover {
    border: solid 2px rgb(24, 24, 100);
    background-color: white;
    color: #313073;
}

@media only screen and (max-width: 767px) {
    .container-fluid {
        width: 100%;
    }

    .login-container {
        padding: 0rem;
    }

    .login__subtitle {
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 2rem;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .login__info > p {
        font-size: 0.87rem;
        line-height: 1.3rem;
        padding: 2rem;
    }

    .login__title {
        font-size: 2rem;
        margin: 2rem 0;
    }

    .login__cont {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .login__cont-title {
        text-align: center;
        font-size: 1.5rem;
    }

    .login {
        box-sizing: border-box;
        width: 100%;
        height: 10px;
        font-size: 1rem;
        padding: 1rem;
        margin-left: 0.3rem;
    }

    .login__btn {
        text-align: center;
        vertical-align: middle;
        padding: 0.5rem;
        margin-bottom: 2rem;
        width: 120px;
        height: 40px;
        font-size: 1rem;
    }
}
/* /Log in section styles */