/* My home header styles */
.myhome__header {
    background-color: rgb(1, 61, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 20%);
    z-index: 110;
}

.myhome__navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transform: translate(-50% -50%);
}

.myhome__nav-items {
    display: inline-block;
}

.myhome__nav-item {
    list-style-type: none;
    display: inline-block;
}

.myhome__nav-item > a {
    position: relative;
    text-decoration: none;
    color: aqua;
    cursor: pointer;
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.myhome__nav-item > a:hover {
    color: white;
    transition: .9s;
}

.myhome__nav-item > a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%; 
    height: 3px;
    background-color: cyan;
    -webkit-transition: transform 255ms;
    transition: transform 255ms;
}

.myhome__nav-item >a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);


}

.navbar__user {
    position: relative;
    left: 800px;
}

.navbar__user > a {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 1rem;
}

/* /My home header styles */

/* my home courses styles */
.myhome__courses {
    overflow: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) inset 3px 0 15px 1px;
}

.myhome__course {
    width: 450px;
    height: 300px;
    
    margin: 1rem;
    padding: 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.myhome__course > img {
    width: 100%;
    height: 150px;
}

.myhome__course-title {
    color: #061C6A;
    font-size: 1.87rem;
    font-weight: 900;
    margin: 1rem 2rem;
}

.myhome__course-info {
    color: #58A7BF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0  2rem 1rem 2rem;
}
/* /my home courses styles */

