{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="background: url(../static/images/orqafon.jpg) 50% 0 no-repeat fixed; background-size: cover;">
    <h1 style="text-align: center; font-size: 80px;">Video Sahifasi</h1>
    {% for i in videos %}
    <div class="container-lg">
            <div style="text-align: center;">
                <h1>{{ i.title }}</h1>
                <video width="720" height="440" controls>
                    <source src="{{ i.video.url }}" type="video/mp4">
                </video>
            </div>
    </div>
    {% endfor %}
</body>
{% endblock %}