{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid" style="padding-left:60px; background: url(../static/images/orqafon.jpg) 50% 0 no-repeat fixed; background-size: cover;">
        <section id="home__mian" class="home__main">
            <h1 class="myhome__news-subtitle">Biologiyada kompyuter texnologiyalari</h1>
                <div style="display:flex; width: 100%; flex-wrap: wrap;">
                    {% for i in lessons %}
                <div class="myhome__new" >
                    <a href="">
                        <img class="myhome__new-img" src="{{ i.photo.url }}" alt="News">
                    </a>
                    <h2 class="myhome__new-title">
                        <a href="{% url 'lesson_lecture' i.pk %}" style="text-align: center;">
                            {{ i.number }}
                        </a>
                    </h2>
                </div><br>
                {% endfor %}
                </div>
                <div class="container" style="text-align: center;">
                    <h2 style="text-decoration-style: solid; font-size: 50px;">Yangiliklar</h2>
                </div>
                <div class="container" style="text-align: center; border:4px  dashed yellow; display: flex;">

                    {% for i in posts %}
                    <div class="card" style="width: 18rem; margin:20px;">
                      <img src="{{ i.photo.url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{ i.body|slice:80 }}</p>
                        <p>Author: {{ i.author }}</p>
                          <div>Date creted: {{ i.publish }}</div>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container map" style = "width:600px;">
                    <iframe style="width: 600px;;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.5625602076307!2d67.28380291519073!3d37.23435807986152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f352dffc61512e5%3A0xa9327e0cb650584f!2z0KLQtdGA0LzQtdC30YHQutC40Lkg0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCj0L3QuNCy0LXRgNGB0LjRgtC10YI!5e0!3m2!1sru!2s!4v1645026254033!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
        </section>
    </div>
    {% endblock %}


    <script>
        $(document).ready(function(){
            $(".home__statistics-counter").counterUp({
                delay: 10,
                time: 1200,
            });
        });
    </script>

