
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Main news section -->
                {% for post in posts %}
                <div class="card mb-3">
                    <img src="{{ post.photo.url }}" class="" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title}}</h5>
                        <p class="card-text">{{ post.body|slice:":255" }}.</p>
                        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <!-- Sidebar with latest news -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Latest News</h5>
                        <ul class="list-group list-group-flush">
                            {% for latest_new in latest_news %}
                            <li class="list-group-item"><a href="{% url 'post_detail' latest_new.id %}">{{ latest_new.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <!-- More news articles -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Another News Article</h5>
                        <p class="card-text">Summary or excerpt of another news article.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Advertisement or additional content -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Advertisement</h5>
                        <p class="card-text">Your advertisement content here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}